<app-auth-header></app-auth-header>

<div class="forget-password bgray">
    <form class="pt20" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="cdark mb20">
            <mat-label>E-mail</mat-label>
            <input matInput [formControl]="email" required>
            <mat-icon matPrefix class="mr15">mail_outline</mat-icon>
        </mat-form-field>
        <p class="cdark">Enter your email address that you used to sign-up with. Instructions on how to reset your password will be emailed to you.</p>
        <button mat-flat-button class="bgreen cwhite mt20">Send password reset Email</button>
    </form>
    <button mat-button (click)="onLogin()" class="mt20 cdark">Back to login</button>
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>
