.header{
    min-height: 40px;
    padding-top: 60px;
    font-size: 14px;
    font-weight: 500;
    .spacer{
        margin-right: 45px;
    }
}
.body{
    min-height: 80%;
    p{
        font-size: 14px;
    }
    .content{
        position: absolute;
        top: 10px;
        left: 55%;
    }
}
