.camera-control {
    position: absolute;
    top: 230px;
    right: 0px;
}
#preview{
    margin-top: 80px !important;
    width: 100%;
}
.isbn{
    font-size: 1em;
    font-weight: bold;
}
.action{
    position: absolute;
    top: 320px;
    right: 0px;   
}